<div class = "nav">
    <img class = "logo" src = "static/images/kubologo.png">
</div>

  <div class = "main">
  <div class = "leader">
  <div class = "sidebar_spaced">
  <div class = "form_container">
  <h2>Landlord Dashboard</h2>
  <h5>Welcome {{data.firstname}}!</h5>


<div class="dashMaincontainer">
  <div class="row">
    <div class="three columns">

      <div class="dashContainer">
        <form id="dashForm">
          <div class="btnContainer">
            <a class="button" id="dashButton" href="/worktickets">Worktickets</a>
            <a class="button" id="dashButton" href="/notifications">Notifications</a>
            <a class="button" id="dashButton" href="/settings">Settings</a>
            <a class="button" id="dashButton" href="/logout">Logout</a>
          </div>
        </form>
      </div>

    </div>

    <div class="nine columns">
      MODAL CONTENT WILL BE HERE
    </div>

  </div>
</div>

  </div>
  </div>
  </div>
  </div>