<div class = "nav">
    <img class = "logo" src = "static/images/kubologo.png">
    <span class="username">Welcome {{data.firstname}}!</span>
</div>

  <div class = "main">
  <div class = "leader">
  <div class = "sidebar_spaced">
  <div class = "form_container">
  <h2>Tenant Dashboard</h2>


<div class="dashMaincontainer">
  <div class="row">
    <div class="three columns">

      <div class="dashContainer">
        <form id="dashForm">
          <div class="btnContainer">
            <a class="button" id="dashButton" href="/worktickets">Worktickets</a>
            <a class="button" id="dashButton" href="/notifications">Notifications</a>
            <a class="button" id="dashButton" href="#openModal">Lease</a>
            <a class="button" id="dashButton" href="/logout">Logout</a>
          </div>
        </form>
      </div>

    </div>

    <div class="nine columns">
      <div id="openModal" class="modalDialog">
        <div>	<a href="#close" title="Close" class="close">X</a>
        	<h2>Modal Box</h2>
          
        </div>
      </div>
    </div>

  </div>
</div>

  </div>
  </div>
  </div>
  </div>