<div class = "nav">
    <img class = "logo" src = "static/images/kubologo.png">
    <span class="username">Welcome {{data.firstname}}!</span>
</div>

  <h2>Tenant Dashboard</h2>

  <div class="row">

    <div class="dashContainer">
      <form id="dashForm">
        <div class="btnContainer">
          <a class="button" id="dashButton" href="javascript:showonlyone('worktickets');">Worktickets</a>
          <a class="button" id="dashButton" href="javascript:showonlyone('notifications');">Notifications</a>
          <a class="button" id="dashButton" href="#openModal">Lease</a>
          <a class="button" id="dashButton" href="/logout">Logout</a>
        </div>
      </form>

      <div class="newboxes" id="worktickets">WORKTICKETS</div>
      <div class="newboxes" id="notifications">NOTIFICATIONS</div>

    </div>
  </div>




    <div id="openModal" class="modalDialog">
      <div>	<a href="#close" title="Close" class="close">X</a>
  
          <iframe class="lease" src="static/images/illinois-residential-lease-agreement.pdf"></iframe>
  
      </div>
    </div>

<script>

  function showonlyone(thechosenone) {
      $('.newboxes').each(function(index) {
            if ($(this).attr("id") == thechosenone) {
                $(this).show(200);
            }
            else {
                $(this).hide(600);
            }
      });
  }

</script>