<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class = "nav">
      KUBO
</div>
   

<div class = "main">
  <div class = "leader">
    <div class = "sidebar_spaced">
      <div class = "form_container">
        <form id="signin" name="signin" method="post" action="signin">
          <label for="email">Email Address</label>
          <input class="text" name="email" type="text" />
          <br>
          <label for="password">Password</label>
          <input name="password" type="password" />
          <br>
          <input class="btn" type="submit" value="Sign In" />
          <br>
          {{!-- <form id="signup" name="signup" style="display:inline" method="get" action="signup">
            <input type="submit" value="Sign Up" />
          </form> --}}
          <button id="signupBtn">Sign Up</button>
        </form>
        {{!-- <form>
          <input class="half-width" type="email" placeholder="test@mailbox.com" id="emailInput">
          <input class="half-width" type="password" placeholder="•••••••••" id="passwordInput">
          <input class="button-primary" type="submit" value="Submit" id = "loginButton">
          <input class="half-width" type="text" placeholder="username" id="usernameInput">
          <input class="half-width" type="email" placeholder="email" id="emailRegisteredInput">
          <input class="half-width" type="password" placeholder="•••••••••" id="passwordInput">
          <input class="half-width" type="text" placeholder="firstname" id="firstNameInput">
          <input class="half-width" type="text" placeholder="lastname" id="secondNameInput">
            <select class="half-width" id="tenantLandlordSelector">
                <option value="Option 1">Landlord</option>
                <option value="Option 2">Tenant</option>
              </select>
            
            <input class="button-primary" type="submit" value="Submit" id = "loginButton">
        </form>
          
        <form action="/tenant-signin" method="GET">
          <button type="submit" id= "tenantBtn"class="btn btn-success btn-lg btn-block">Tenant Login</button>
        </form>

        <form action="/landlord-signin" method="GET">
          <button type="submit" id= "landlordBtn"class="btn btn-danger btn-lg btn-block">Landlord Login</button>
        </form> --}}

      </div>
    </div>
    
  </div>
</div>