<div class="container-fluid">

    <div id="title-block">
        <h1>Landlord Sign-In</h1>
    </div>

    <form id="landlord-signin" name="landlord-signin" method="post" action="landlord-signin">
        <label for="email">Email Address</label>
            <input class="text" name="email" type="text" /><br>
        <label for="password">Password</label>
            <input name="password" type="password" /><br>

        <input class="btn" type="submit" value="Sign In" /><br>
        <a href="landlord-signup">Click here to register!</a>
    </form>

</div>