<div class = "nav">
    <img class = "logo" src = "static/images/kubologo.png">
    
</div>
   
<div class = "main">
  <div class = "leader">
    <div class = "sidebar_spaced">
      <div class = "form_container">
        <form id="signup" name="signup" method="post" action="/signup">
          <select class="half-width" id="tenantLandlordSelector" name="landlord">
            <option value="true">Landlord</option>
            <option value="false">Tenant</option>
          </select>
          {{!-- <label for="email">Email Address</label> --}}
          <input class="text" name="email" type="email" placeholder="Email"/><br>
          {{!-- <label for="username">User Name</label> --}}
          <input name="username" type="text" placeholder="Username"/><br>
          {{!-- <label for="firstname">Firstname</label> --}}
          <input name="firstname" type="text" placeholder="First Name"/><br>
          {{!-- <label for="lastname">Lastname</label> --}}
          <input name="lastname" type="text" placeholder="Last Name"/><br>
          {{!-- <label for="password">Password</label> --}}
          <input name="password" type="password" placeholder="•••••••" /><br>
          <input class="btn" type="submit" value="Sign Up" />
        </form>
      </div>
    </div>

    <div class = "image-container">
        <img class = "banner" src = "static/images/main.png">
    </div>
  </div>
</div>

<div class = "content">
  <div class = "container">
    <div class = "row">
       <div class="four columns">
        <center><img class="wifi" src="static/images/wifi.png"></center>
          <h6>Have Kubo everywhere you go. Stay up to date with what's happening in your building even while you're away.</h6>
       </div>
       <div class="four columns">
         <center><img class="docs" src="static/images/documents.png"></center>
          <h6>Have access to all your important documents in one place. Never sift through emails and paper copies to find what you need!</h6>
       </div>
       <div class="four columns">
         <center><img class="announcements" src="static/images/announcements.png"></center>
        <h6>Never miss an announcement about your unit! Whether it be a security update, maintenance issue, weather report, or new paint!</h6>

      </div>
    </div>
  </div>
</div>

<div class = "landlordPerks">
    <div class = "landlord-container">
      <div class = "row">
      <div class = "six columns">
        <h5>Kubo can manage all sensitive documents like leases, sublet agreements, and building codes displaying them in one convenient location that you can access anytime.</h5>
      </div>
      <div class = "six columns">
        <img class = "landlord" src = "static/images/landlord2.png">
      </div>
    </div>
    </div>
</div>

<div class = "tenantPerks">
    <div class = "tenant-container">
      <div class = "row">
        <div class = "six columns">
          <img class = "tenant" src = "static/images/tenant.png">
        </div>
        <div class = "six columns">
          <h5>Report, track, fix, and update existing maintenance orders . Kubo keeps a clean record of all landlord unit interactions, increasing transparency between tenants and owners, while maintaining accountability for all parties.</h5>
        </div>
      </div>
    </div>
</div>

