<div class="container-fluid">

    <div id="title-block">
        <h1>Tenant Sign-In</h1>
    </div>

    <form id="tenant-signin" name="tenant-signin" method="post" action="tenant-signin">
        <label for="email">Email Address</label>
            <input class="text" name="email" type="text" /><br>
        <label for="password">Password</label>
            <input name="password" type="password" /><br>

        <input class="btn" type="submit" value="Sign In" /><br>

        <a href="tenant-signup">Click here to register!</a>
    </form>
</div>