<!DOCTYPE html>
<html>
<head>
	<title>Kubo</title>
</head>
<body>
<h2>Dashboard</h2>
<h5>Hurray! You are logged in as a TENANT.</h5>

<form id="logout" name="logout" method="get" action="logout">
  <input class="btn" type="submit" value="Log Out" />
</form>

</body>
</html>