table {
    background-color: #E4F7FF;
    text-align: center;
    max-width: 90%;
    border-radius: 10px;
    height: 300px;
    position: relative !important;
    float: right !important;
    margin-bottom: -60px !important;
    margin-top: 44px !important;
    margin-right: 100px !important;
    z-index: 40 !important;
}

.main {
    height: 550px;
    clear: both;
    margin-top: 20px;
    display: block;
}

.leader {
    height: 659px;
    background-image: url(public/images/main.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 21;
    clear: both;
}

.sidebar-spaced {
    clear: both;
    height: auto;
    position: relative;
}


.image-container {
    height: auto;
    position: relative;
}

.banner {
    display: block;
    height: 450px;
}