table {
    background-color: #E4F7FF;
    text-align: center;
    max-width: 90%;
    border-radius: 10px;
    height: 300px;
    position: relative !important;
    float: right !important;
    margin-bottom: -60px !important;
    margin-top: 44px !important;
    margin-right: 100px !important;
    z-index: 40 !important;
}

.main {
    height: 550px;
    clear: both;
    margin-top: 20px;
    display: block;
}

.leader {
    height: 659px;
    background-image: url(public/images/main.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 21;
    clear: both;
}

.sidebar_spaced {
    clear: both;
    height: auto;
    position: relative;
}


.image-container {
    height: auto;
    position: relative;
}

.banner {
    display: block;
    height: 450px;
}
.dashMaincontainer {
    height: 500px;
}
form#dashForm {
    height: 100%;
    width: 100%;
    display: table;
    margin: 0 !important;
    float: left !important;
    border-radius: 0 20px 20px 0;
}
.dashContainer {
    height: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
    background: #f2f2f2;
}
.btnContainer {
    width: 100%;
    height: 20%;
    display: table-cell;
    vertical-align: bottom;
}
#dashButton {
    width: 100%;
    border-radius: 0;
    margin: 0 !important;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

table {
    background-color: #E4F7FF;
    text-align: center;
    max-width: 90%;
    border-radius: 10px;
    height: 300px;
    position: relative !important;
    float: right !important;
    margin-bottom: -60px !important;
    margin-top: 44px !important;
    margin-right: 100px !important;
    z-index: 40 !important;
}

.main {
    height: 550px;
    clear: both;
    margin-top: 20px;
    display: block;
}

.leader {
    height: 659px;
    background-image: url(public/images/maincopy.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 21;
    clear: both;
}

.sidebar_spaced {
    clear: both;
    height: auto;
    position: relative;
}


.image-container {
    height: auto;
    position: relative;
}

.banner {
    display: block;
    height: 450px;
}

.wifi {
    max-width: 35%;
}

.docs {
    max-width: 35%;
   
}

.announcements {
    max-width: 35%;
    
}

h6{
    text-align: center;
    font-size: 18px;
    font-family: 'Encode Sans', sans-serif;
}

.logo {
    max-width: 7%;
}

.nav {
    background-color: #ffffff;
    padding: 10px;
    top: 0;
}
.landlord {
    position: relative !important;
    float: right !important;
    max-width: 100%;
   
}

.landlord-container {
    padding: 0;
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
}

h5 {
    text-align: right;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Encode Sans', sans-serif;
}

.tenant {
    position: relative !important;
    float: left !important;
    max-width: 100%;
}


#signin {
    width: 350px;
    top: -30px;
    height: 515px;
}
=======
.username{
    float: right;
    margin-right: 30px;
}

/*---------------------
    MODAL STYLES 
---------------------*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

/*---------------------
    END MODAL 
---------------------*/

